.panel.panel-default.no-border
  .panel-heading
    %h1= link_to @unit.name, @unit
    %h2
      Users
      = link_to '+', new_unit_user_path(@unit)
  %ul.list-group= render partial: 'unit_user', collection: @users, layout: 'shared/collection_item'
