%head
  :css
    h1 {
        font-size: 2em;
        text-align: center;
        margin: 0 0 1em 0;
    
      }
    
      h4 {
       text-decoration: underline;
     }
    
     .privacy_section {
      color: black;
      background-color: white;
      padding: 5%;
      border-radius: 8px;
      margin-bottom: 5%;
      position: relative;
      bottom: 40px;
      margin-top: 50px;
      margin-right: 20px;
      margin-left: 20px;
    
    }
%body
  .privacy_section
    %h1 PRIVACY POLICY
    %div
      Vericlean Solutions, LLC. (referred to as “ Company”, “we,” “our,” “us,” or “company”) recognizes that you care how information about you is collected and used. Company has created this Privacy Policy to inform you of our information collection, use and sharing practices for this Web site, www.verisolutions.co.
      
      
      Please be advised that the practices described in this Privacy Policy apply only to information gathered through this web site (the “Site”) and do not necessarily reflect our practices with respect to information gathered through other off-line means. Use of the Site is subject to our Site Terms of Use [insert the link to the Terms of Use document] and to our personal information gathering and dissemination practices and policies as described below.
      %h3 We Collect The Following Types Of Information:
      %h4 Your Personal Information
      We collect personal information when you when you create an account or when you submit personal information when requested with the Site. When you create an account, you are required to submit your name, email address and other contact information. When you sign into the Site using your login information, you are not anonymous.
      %h4 IP Address
      We gather your IP address when you use the Site. We use IP addresses for diagnostic and statistical purposes and to administer the Site.
      %h4 Site Usage
      We collect information regarding customer traffic patterns and site usage. This information is used to analyze and improve this Web site and to provide Company customers with a fulfilling shopping experience.
      %h4 Cookies
      We may also use “cookies” to store your preferences in order to make your use of the Site more productive. Cookies are small files used by many websites that reside on your computer’s hard drive and store information about your use of a particular site. Cookies are small pieces of information that are stored by the browser on your hard drive. The cookies that are configured by www.verisolutions.co do not contain any personally identifying information, such as your name, or sensitive information, such as your credit card number. We also use cookies to track the usage of our Site in order to enhance your use of the Site. If you do not accept cookies from the domain “www.verisolutions.co” you may not be able to access certain portions of the Site.
      %h4 To Contact You
      We use your personal information to contact you. Using your contact information, we may also send you e-mail messages under the following circumstances, among others:
      %ul
        %li to respond to an inquiry or request for information;
        %li to thank you for contacting us;
        %li to welcome you to the Site;
        %li to explain new offerings and features of the Company;
        %li to communicate with you regarding your use of the Site; and
        %li to market the Company’s products and services and the products and services of our business partners
      Your contact information may be available or provided to third-party service providers and contractors (such as the Site webmaster) that are contractually obligated to protect your information as disclosed in this Privacy Policy.
      %h3 We May Share And Disclose Your Information In The Following Ways:
      %h4 Aggregated Information
      We may collect aggregated demographic information about our users, such as age, interests, etc. We may share certain aggregated demographic information that we collect with our business partners regarding the users of the Site. The aggregated information that we provide is not directly linked to any personally identifiable information.
      %h4 Services
      We will use your personally identifiable information to provide information or perform services that you request we, or a third party, provide or perform. If the applicable information is to be provided or service is to be performed by a third party, then we will disclose the applicable information to the third party providing the information or performing the applicable service.
      %h4 Third Party Marketing
      We may share your personally identifiable information with our affiliates and other business partners who work on behalf of or with the Company under confidentiality obligations. These companies may use your personal information to assist the Company in communicating with you about the Site, the Company or other offerings of the Company or our business partners. Such third parties do not have any independent right to disclose your personally identifiable information.
      %h4 Internal Use
      We will share your personally identifiable information within our business for the purposes of furthering our business, including analyzing your information and other uses. Additionally, we may use any other information that you post on forums or submit to us via e-mail for the purposes of evaluating our products, improving our existing products, and developing new products. You expressly grant us all rights and permissions necessary to do so.
      %h4 Exceptions
      We may use and disclose your personally identifiable information to the extent reasonably necessary to:
      %ul
        %li correct technical problems and malfunctions in how we provide our products and services to you and to technically process your information;
        %li protect the security and integrity of the Site and our Internet service, including without limitation to enforce our Terms and Conditions with you;
        %li protect our rights and property and the rights and property of others;
        %li take precautions against liability;
        %li respond to claims that your information violates the rights and interests of third parties;
        %li the extent required by law or to respond to judicial process; and
        %li the extent permitted under other provisions of law, to provide personal information to law enforcement agencies or for an investigation on a matter related to public safety.
      You understand and agree that technical processing of your information is and may be required to:
      %ul
        %li send and receive messages regarding your use of the Site;
        %li conform to the technical requirements of connecting networks;
        %li conform to the limitations of our service; or
        %li conform to other, similar technical requirements.
      %h4 Usage Tracking
      We may monitor how our users use our Site including without limitation search terms entered, pages visited and documents viewed. This information may be stored with an IP address. This information is used solely for purposes of enabling us to provide you with a personalized Site experience. Aggregated forms of this data may also be used in order to help us understand areas for future research and to identify future features and functions to develop for the Site.
      %h4 Links to Other Sites
      This Site may contain links to other Sites. We are not responsible for and shall not have any liability arising from the privacy practices or the content of other Sites.
      %h4 Storage Of Personal Information
      We store information collected via the Site, including without limitation your personally identifiable information, indefinitely.
      %h4 Information Review
      You can change and modify the information you previously have provided to us by contacting us at: support@verisolutions.co
      %h4 Security Precautions
      The Company takes precautions to protect data and information under its control from misuse, loss or alteration. The Company’s security measures include industry-standard technology and equipment to help protect your information, and we maintain security measures to allow only the appropriate personnel and contractors access to your information. Unfortunately, no system can ensure complete security, and Company disclaims any liability resulting from use of the Site. If you have any questions about the security at our Site, please send an e-mail to: support@verisolutions.co
      %h4 Notification of Changes to Our Privacy Policy
      We reserve the right to change or modify our information collection, use and disclosure practices set forth in this Privacy Policy. If we decide to change our Privacy Policy, we will post those changes on the Site so our users and customers are always aware of what information we collect, use and disclose. If at any point we decide to use or disclose your personally identifiable information in a manner different from that stated at the time it was collected, we will notify you in writing, which may or may not be by e-mail. If you object to the change to our Privacy Policy, then you must contact us using the information provided in the notice. We will otherwise use and disclose a user’s or a customer’s personally identifiable information in accordance with the Privacy Policy that was in effect when such information was collected.
      %h4 Change in Control
      If the Company experiences a “change in control” (defined below), then we may amend our information practices as described in this Privacy Policy. We will disclose your personally identifiable information to the company or other legal entity that succeeds our operation of the Site. The privacy policy of the succeeding legal entity will then govern the personally identifiable information that we have collected from you under this Privacy Policy. However, if applicable law prohibits the succeeding legal entity’s privacy policy from governing your personally identifiable information, then this Privacy Policy shall continue to govern.
      
      
      “Change in control” means any of the following events:
      %ul
        %li we undergo a reorganization, merger, consolidation, acquisition or other restructuring involving all or substantially all of our voting securities and/or assets, by operation of law or otherwise;
        %li we become insolvent;
        %li we make a general assignment for the benefit of creditors;
        %li we suffer or permit an appointment of a receiver for our business or assets;
        %li we become subject to any proceedings under any bankruptcy or insolvency law, whether domestic or foreign; or
        %li we are liquidated, voluntarily or otherwise.
      %h4 Questions about Our Privacy Policy
      If you have any questions about this Privacy Policy and/or the personal information practices of our Site, please email your questions to: support@verisolutions.co.
      %center
        %div Effective Date: August 15, 2015
