%head
  :css
    h1 {
        font-size: 2em;
        text-align: center;
        margin: 0 0 1em 0;
    
      }
    
      h4 {
       text-decoration: underline;
     }
    
    
     .privacy_section {
      color: black;
      background-color: white;
      padding: 5%;
      border-radius: 8px;
      margin-bottom: 5%;
      position: relative;
      bottom: 40px;
      margin-top: 50px;
      margin-right: 20px;
      margin-left: 20px;
    
    }
%body
  .privacy_section
    %h1 TERMS OF USE
    %div
      %p Thanks for using VeriSolutions.
      %p Please read these Terms carefully. By using VeriSolutions or signing up for an account, you’re agreeing to these Terms. This is a legal agreement.
      %p We’ll start with the basics, including a few definitions that should help you understand this agreement. VeriSolutions (“VeriSolutions” or the “Service”) is an software service offered through the URL www.verisolutions.com. VeriSolutions has employees, independent contractors, and representatives ("our Team"). As a customer of the Service or a representative of an entity that’s a customer of the Service, you're a “Member” according to this agreement (or “you”).
      %p These Terms of Use (“Terms,” including our Privacy Policy) define the terms and conditions under which you’re allowed to use VeriSolutions and how we’ll treat your account while you’re a Member. If you have any questions about our terms, feel free to contact us.
      %br/
      %h2 ACCOUNT
      %h3 1. Eligibility
      %p In order to use VeriSolutions, you must:
      %li be at least eighteen (18) years old and able to enter into contracts;
      %li complete the registration process;
      %li agree to the Terms; and
      %li provide true, complete, and up to date contact information.
      %li By using VeriSolutions, you represent and warrant that you meet all the requirements listed above, and that you won’t use VeriSolutions in a way that violates any laws or regulations. VeriSolutions may refuse service, close accounts of any users, and change eligibility requirements at any time.
      %h3 2. Term
      %p The Term begins when you sign up for VeriSolutions and continues as long as you use the Service. Clicking the button and entering your username means that you’ve officially “signed” the Terms. If you sign up for VeriSolutions on behalf of a company or other entity, you represent and warrant that you have the authority to accept these Terms on their behalf.
      %h3 3. Closing Your Account
      %p You or VeriSolutions may terminate this Agreement at any time and for any reason by giving Notice to the other party. We may suspend our Service to you at any time, with or without cause. If we terminate your account without cause, we'll refund a prorated portion of your monthly prepayment. We won’t refund or reimburse you if there’s cause, like a violation of these Terms or our Acceptable Use Policy.
      %h3 4. Changes
      %p We may change any of the Terms by posting revised Terms of Use on our Website and/or by sending an email to the last email address you gave us. Unless you terminate your account within ten (10) days, the new Terms will be effective immediately and apply to any continued or new use of VeriSolutions. We may change the Website, the Service, or any features of the Service at any time.
      %h3 5. Account and Password
      %p You’re responsible for keeping your account name and password confidential. You’re also responsible for any account that you have access to, whether or not you authorized the use. You’ll immediately notify us of any unauthorized use of your accounts. We’re not responsible for any losses due to stolen or hacked passwords. We don’t have access to your current password, and for security reasons, we may only reset your password.
      %h3 6. Account Disputes
      %p We don’t know the inner workings of your organization or the nature of your personal relationships, and we don't arbitrate disputes over who owns an account. You won't request access to or information about an account that's not yours, and you'll resolve any account-related disputes directly with the other party. We decide who owns an account based on the content of the emails in that account, and if multiple people or entities are identified in the content, then we'll rely on the contact information listed for that account.
      %br/
      %h2 PAYMENT
      %h3 7. Monthly Plans
      %p Our charges for monthly plans are posted on our Website and may be changed from time to time. If any part of a month is included in the Term, then payment is due for the full month. Payments are due for any month on the same date, or the closest date in that month, to the day you signed up with us and made your first monthly payment (the "Pay Date"). If you go over your sending limit and reach another pricing level, then you'll have to pay at the higher level on or before the next pay date. If the Term ends before that payment is due, you’ll still be required to make one payment at the higher level.
      %h3 9. Credit Cards
      %p As long as you’re a Member or have an outstanding balance with us, you'll provide us with valid credit card information and authorize us to deduct the monthly charges against that credit card. You’ll replace the information for any credit card that expires with information for a different valid credit card. Anyone using a credit card represents and warrants that he or she is authorized to use that credit card, and that any and all charges may be billed to that credit card and won’t be rejected. If, for some reason, we’re unable to process your credit card order, we’ll try to contact you by email and suspend your account until your payment can be processed. Sorry, we don’t accept T-shirts or other forms of barter at this time.
      %h3 10. Refunds
      %p We’ll give you a refund for a prepaid month if we stop providing our Services to you for a reason that's not laid out in these Terms or our Acceptable Use Policy. You won’t be entitled to a refund from us under any other circumstances. We may offer a refund if a Member applies for one based on the requirements posted on the Website.
      %h3 11. Changes
      %p We may change our fees at any time by posting a new pricing structure to our Website and/or sending you a notification by email.
      %br/
      %h2 RIGHTS
      %h3 12. Proprietary Rights Owned by Us
      %p You shall respect our proprietary rights in the Website and the software used to provide VeriSolutions (proprietary rights include patents, trademarks, service marks, and copyrights). You may only use our brand assets according to our Brand Guidelines.
      %h3 13. Proprietary Rights Owned by You
      %p You retain ownership of the materials you upload to the Service. We may use or disclose your materials only as we describe in these Terms and our Privacy Policy.
      %h3 14. Privacy Policy
      %p We may use and disclose your information according to our Privacy Policy. Our Privacy Policy will be treated as part of these Terms.
      %br/
      %h2 RULES AND ABUSE
      %h3 16. General Rules
      %p You promise to follow these rules:
      %li You won’t violate our Acceptable Use Policy, which is part of this Agreement.
      %li If you use our API, you'll comply with our API Use Policy.
      %li If you violate any of these rules, then we may suspend or terminate your account.
      %h3 20. U.S. Export Controls
      %p The software that supports the Services (the "Software") is subject to United States export controls. None of the Software may be downloaded or otherwise exported or re-exported in violation of United States export laws. You’re downloading and using the Software at your own risk.
      %br/
      %h2 LIABILITY
      %h3 21. Limitation of Liability
      %p To the maximum extent permitted by law, you assume full responsibility for any loss that results from your use of the Website and the Services, including any downloads from the Website. We and our Team won’t be liable for any indirect, punitive, special, or consequential damages under any circumstances, even if they’re based on negligence or we’ve been advised of the possibility of those damages. Our total liability for all claims made about the Service in any month will be no more than what you paid us for the Service the month before.
      %h3 22. No Warranties
      %p To the maximum extent permitted by law, we provide the material on the Website and the Service as is. That means we don’t provide warranties of any kind, either express or implied, including but not limited to warranties of merchantability and fitness for a particular purpose.
      %h3 23. Indemnity
      %p You agree to indemnify and hold us and our Team harmless from any losses (including attorney fees) that result from any claims you make that aren’t allowed under these Terms due to a "Limitation of Liability" or other provision. You also agree to indemnify and hold us harmless from any losses (including attorney fees) that result from third-party claims that you or someone using your password did something that, if true, would violate any of these Terms.
      %h3 24. Attorney Fees
      %p If we file an action against you claiming you breached these Terms and we prevail, we’re entitled to recover reasonable attorney fees and any damages or other relief we may be awarded.
      %h3 26. Equitable Relief
      %p If you violate these Terms then we may seek injunctive relief (meaning we may request a court order to stop you) or other equitable relief.
      %h3 27. Subpoena Fees
      %p If we have to provide information in response to a subpoena related to your account, then we may charge you for our costs. These fees may include attorney and employee time spent retrieving the records, preparing documents, and participating in a deposition.
      %h3 28. Disclaimers
      %p We and our Team aren’t responsible for the behavior of any advertisers, linked websites, or other Members.
      %br/
      %h2 FINE PRINT
      %h3 29. Notice to U.S. Government End Users
      %p The Software and Website, including all documentation, are "Commercial Items," as that term is defined at 48 C.F.R. §2.101, and consist of "Commercial Computer Software" and "Commercial Computer Software Documentation." The Commercial Computer Software and Commercial Computer Software Documentation are licensed to U.S. Government end users:
      %li only as Commercial Items,
      %li
        with the same rights as all other end users, and
        according to the Terms
      %h3 30. Assignments
      %p You may not assign any of your rights under this agreement to anyone else. We may assign our rights to any other individual or entity at our discretion.
      %h3 31. Choice of Law
      %p The State of Georgia’s laws, except for conflict of laws rules, will apply to any dispute related to these Terms or the Service. Any dispute related to the Terms, the Privacy Policy, or the Service itself will be decided by the state and federal courts in Fulton County, Georgia, and each party will be subject to the jurisdiction of those courts.
      %h3 32. Force Majeure
      %p We won’t be held liable for any delays or failure in performance of any part of the Service, from any cause beyond our control. This includes, but is not limited to, acts of God, changes to law or regulations, embargoes, war, terrorist acts, riots, fires, earthquakes, nuclear accidents, zombie apocalypse, floods, strikes, power blackouts, volcanic action, unusually severe weather conditions, and acts of hackers or third-party internet service providers.
      %h3 33. Survivability
      %p Even if this Agreement is terminated, the following sections will continue to apply: Proprietary Rights Owned by Us, Proprietary Rights Owned by You, Compliance with Laws, Limitation of Liability, No Warranties, Indemnity, Choice of Law, Severability, and Entire Agreement.
      %h3 34. Severability
      %p If it turns out that a section of this Agreement isn’t enforceable, then that section will be removed or edited as little as necessary, and the rest of the Terms will still be valid.
      %h3 35. Interpretation
      %p The headers and sidebar text are provided only to make this agreement easier to read and understand. The fact that we wrote these Terms won’t affect the way this Agreement is interpreted.
      %h3 36. Amendments and Waiver
      %p Amendments or changes to these Terms won’t be effective until we post revised Terms on the Website. That aside, additional terms may apply to certain features of the Service (the "Additional Terms"). The Additional Terms will be considered incorporated into these Terms when you activate the feature. Where there’s a conflict between these Terms and the Additional Terms, the Additional Terms will control. If we don’t immediately take action on a violation of these Terms, we’re not giving up any rights under the Terms, and we may still take action at some point.
      %h3 37. No Changes in Terms at Request of Member
      %p Because we have so many Members, we can’t change these Terms for any one Member or group. If we did that, keeping up with the changes would be a logistical nightmare. So no changes, no exceptions.
      %h3 38. Further Actions
      %p You’ll provide all documents and take any actions necessary to meet your obligations under these Terms.
      %h3 39. Notification of Security Breach
      %p In the event of a security breach that may affect you or anyone on your Email distribution lists (each a "List"), we’ll notify you of the breach and provide a description of what happened. If we determine, and notify you, that you need to forward all or part of that information to anyone on your Lists, you’ll promptly do it.
      %h3 40. Notices
      %p Any notice to you will be effective when we send it to the last email or physical address you gave us or posted on our Website. Any notice to us will be effective when delivered to us along with a copy to our legal counsel: Attn. Legal Department, VeriSolutions, 859 Spring St NE, Atlanta, GA, 30308, or any addresses as we may later post on the Website.
      %h3 41. Entire Agreement
      %p These Terms, our Privacy Policy, Acceptable Use Policy, API Guidelines (all of which are incorporated into these Terms by reference), and any Additional Terms you’ve agreed to make up the entire agreement and supersede all prior agreements, representations, and understandings.
      %p Congratulations! You’ve reached the end. Thanks for taking the time to learn about VeriSolutions's policies.
      %center
        %div Effective Date: August 15, 2015
