$white: #ffffff;
$gray-lighter: #f7f7f7;
$gray-light: #e1e1e1;
$gray: #999999;
$gray-dark: #666666;
$gray-darker: #333333;
$black: #000000;

$light-blue: #f2fafc;
$blue: #7dd1e9;
$green: #77C699;
$yellow: #ffbe19;
$red: #e94959;
$purple: #662d91;

$spacer-width: 15px;
