.row
  .col-xs-12
    %h3= unit
    .table-responsive{ :style => "overflow-x: auto;" }
      %table
        %thead
          %tr
            %th Cooler
            %th Min Temp
            %th Max Temp
            %th Avg Temp
            %th Min Humidity
            %th Max Humidity
            %th Avg Humidity
            %th Compliance
        %tbody
          - unit.coolers.each do |c|
            = render 'cooler_stats', cooler: c, stats: c.stats(@range)
