- content_for :subtitle, 'Forgot your password?'
%p Please click on the following button to reset your password.
%center
  = link_to 'Change My Password', edit_user_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary'
%p
  If you didn't request this, please ignore this email.
  %br
  Your password won't change until you access the link above and create a new one.
