!!!
%html{"xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://opengraph.org/schema/"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Monitoring Made Easy", :property => "og:title"}/
    %meta{:content => "43929265776", :property => "fb:page_id"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    / NAME: 1:3 COLUMN
    /[if gte mso 15]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Monitoring Made Easy
    :css
      p{
          margin:10px 0;
          padding:0;
      }
      table{
          border-collapse:collapse;
      }
      h1,h2,h3,h4,h5,h6{
          display:block;
          margin:0;
          padding:0;
      }
      img,a img{
          border:0;
          height:auto;
          outline:none;
          text-decoration:none;
      }
      body,#bodyTable,#bodyCell{
          height:100%;
          margin:0;
          padding:0;
          width:100%;
      }
      #outlook a{
          padding:0;
      }
      img{
          -ms-interpolation-mode:bicubic;
      }
      table{
          mso-table-lspace:0pt;
          mso-table-rspace:0pt;
      }
      .ReadMsgBody{
          width:100%;
      }
      .ExternalClass{
          width:100%;
      }
      p,a,li,td,blockquote{
          mso-line-height-rule:exactly;
      }
      a[href^=tel],a[href^=sms]{
          color:inherit;
          cursor:default;
          text-decoration:none;
      }
      p,a,li,td,body,table,blockquote{
          -ms-text-size-adjust:100%;
          -webkit-text-size-adjust:100%;
      }
      .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
          line-height:100%;
      }
      a[x-apple-data-detectors]{
          color:inherit !important;
          text-decoration:none !important;
          font-size:inherit !important;
          font-family:inherit !important;
          font-weight:inherit !important;
          line-height:inherit !important;
      }
      #bodyCell{
          padding:10px;
      }
      .templateContainer{
          max-width:600px !important;
      }
      a.mcnButton{
          display:block;
      }
      .mcnImage{
          vertical-align:bottom;
      }
      .mcnTextContent{
          word-break:break-word;
      }
      .mcnTextContent img{
          height:auto !important;
      }
      .mcnDividerBlock{
          table-layout:fixed !important;
      }
      body,#bodyTable{
          background-color:#FAFAFA;
      }
      #bodyCell{
          border-top:0;
      }
      .templateContainer{
          border:0;
      }
      h1{
          color:#202020;
          font-family:Helvetica;
          font-size:26px;
          font-style:normal;
          font-weight:bold;
          line-height:125%;
          letter-spacing:normal;
          text-align:left;
      }
      h2{
          color:#202020;
          font-family:Helvetica;
          font-size:22px;
          font-style:normal;
          font-weight:bold;
          line-height:125%;
          letter-spacing:normal;
          text-align:left;
      }
      h3{
          color:#202020;
          font-family:Helvetica;
          font-size:20px;
          font-style:normal;
          font-weight:bold;
          line-height:125%;
          letter-spacing:normal;
          text-align:left;
      }
      h4{
          color:#202020;
          font-family:Helvetica;
          font-size:18px;
          font-style:normal;
          font-weight:bold;
          line-height:125%;
          letter-spacing:normal;
          text-align:left;
      }
      .even
      {
          background: transparent !important;
      }
      .odd
      {
          background: #f1f1f1 !important;
      }
      #templatePreheader{
          background-color:#FAFAFA;
          border-top:0;
          border-bottom:0;
          padding-top:9px;
          padding-bottom:9px;
      }
      #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
          color:#656565;
          font-family:Helvetica;
          font-size:12px;
          line-height:150%;
          text-align:left;
      }
      #templatePreheader .mcnTextContent a,#templatePreheader .mcnTextContent p a{
          color:#656565;
          font-weight:normal;
          text-decoration:underline;
      }
      #templateHeader{
          background-color:#FFFFFF;
          border-top:0;
          border-bottom:0;
          padding-top:9px;
          padding-bottom:0;
      }
      #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
          color:#202020;
          font-family:Helvetica;
          font-size:16px;
          line-height:150%;
          text-align:left;
      }
      #templateHeader .mcnTextContent a,#templateHeader .mcnTextContent p a{
          color:#2BAADF;
          font-weight:normal;
          text-decoration:underline;
      }
      #templateBody{
          background-color:#FFFFFF;
          border-top:0;
          border-bottom:0;
          padding-top:0;
          padding-bottom:0;
      }
      #templateBody .mcnTextContent,#templateBody .mcnTextContent p{
          color:#202020;
          font-family:Helvetica;
          font-size:16px;
          line-height:150%;
          text-align:left;
      }
      #templateBody .mcnTextContent a,#templateBody .mcnTextContent p a{
          color:#2BAADF;
          font-weight:normal;
          text-decoration:underline;
      }
      #templateColumns{
          background-color:#FFFFFF;
          border-top:0;
          border-bottom:2px solid #EAEAEA;
          padding-top:0;
          padding-bottom:9px;
      }
      #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
          color:#202020;
          font-family:Helvetica;
          font-size:16px;
          line-height:150%;
          text-align:left;
      }
      #templateColumns .columnContainer .mcnTextContent a,#templateColumns .columnContainer .mcnTextContent p a{
          color:#2BAADF;
          font-weight:normal;
          text-decoration:underline;
      }
      #templateFooter{
          background-color:#FAFAFA;
          border-top:0;
          border-bottom:0;
          padding-top:9px;
          padding-bottom:9px;
      }
      #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
          color:#656565;
          font-family:Helvetica;
          font-size:12px;
          line-height:150%;
          text-align:center;
      }
      #templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{
          color:#656565;
          font-weight:normal;
          text-decoration:underline;
      }
      @media only screen and (min-width:768px){
          .templateContainer{
              width:600px !important;
          }

      }   @media only screen and (max-width: 480px){
          body,table,td,p,a,li,blockquote{
              -webkit-text-size-adjust:none !important;
          }

      }   @media only screen and (max-width: 480px){
          body{
              width:100% !important;
              min-width:100% !important;
          }

      }   @media only screen and (max-width: 480px){
          #bodyCell{
              padding-top:10px !important;
          }

      }   @media only screen and (max-width: 480px){
          .columnWrapper{
              max-width:100% !important;
              width:100% !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnImage{
              width:100% !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnCaptionTopContent,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer{
              max-width:100% !important;
              width:100% !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnBoxedTextContentContainer{
              min-width:100% !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnImageGroupContent{
              padding:9px !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
              padding-top:9px !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnImageCardTopImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
              padding-top:18px !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnImageCardBottomImageContent{
              padding-bottom:9px !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnImageGroupBlockInner{
              padding-top:0 !important;
              padding-bottom:0 !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnImageGroupBlockOuter{
              padding-top:9px !important;
              padding-bottom:9px !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnTextContent,.mcnBoxedTextContentColumn{
              padding-right:18px !important;
              padding-left:18px !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
              padding-right:18px !important;
              padding-bottom:0 !important;
              padding-left:18px !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcpreview-image-uploader{
              display:none !important;
              width:100% !important;
          }

      }   @media only screen and (max-width: 480px){
          h1{
              font-size:22px !important;
              line-height:125% !important;
          }

      }   @media only screen and (max-width: 480px){
          h2{
              font-size:20px !important;
              line-height:125% !important;
          }

      }   @media only screen and (max-width: 480px){
          h3{
              font-size:18px !important;
              line-height:125% !important;
          }

      }   @media only screen and (max-width: 480px){
          h4{
              font-size:16px !important;
              line-height:150% !important;
          }

      }   @media only screen and (max-width: 480px){
          .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
              font-size:14px !important;
              line-height:150% !important;
          }

      }   @media only screen and (max-width: 480px){
          #templatePreheader{
              display:block !important;
          }

      }   @media only screen and (max-width: 480px){
          #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
              font-size:14px !important;
              line-height:150% !important;
          }

      }   @media only screen and (max-width: 480px){
          #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
              font-size:16px !important;
              line-height:150% !important;
          }

      }   @media only screen and (max-width: 480px){
          #templateBody .mcnTextContent,#templateBody .mcnTextContent p{
              font-size:16px !important;
              line-height:150% !important;
          }

      }   @media only screen and (max-width: 480px){
          #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
              font-size:16px !important;
              line-height:150% !important;
          }

      }   @media only screen and (max-width: 480px){
          #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
              font-size:14px !important;
              line-height:150% !important;
          }

      }
  %body#archivebody
    %center
      %table#bodyTable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;", :width => "100%"}
        %tr
          %td#bodyCell{:align => "center", :style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 10px;width: 100%;border-top: 0;", :valign => "top"}
            / BEGIN TEMPLATE //
            /[if gte mso 9]
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
              <tr>
              <td align="center" valign="top" width="600" style="width:600px;">
            %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 600px !important;", :width => "100%"}
              %tr
                %td#templatePreheader{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FAFAFA;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 9px;", :valign => "top"}
                  %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                    %tbody.mcnTextBlockOuter
                      %tr
                        %td.mcnTextBlockInner{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                          %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "366"}
                            %tbody
                              %tr
                                %td.mcnTextContent{:style => "padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #656565;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: left;", :valign => "top"}
                                  Unlock your account
                          /
                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="197" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody><tr>

                            <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #656565;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: left;">

                            <a href="http://us12.campaign-archive2.com/?u=5fea6a6c0ca7b2464bc106e33&id=64d1dc6063&e=[UNIQID]" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #656565;font-weight: normal;text-decoration: underline;">View this email in your browser</a>
                            </td>
                            </tr>
                            </tbody></table>
              %tr
                %td#templateHeader{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 0;", :valign => "top"}
                  %table.mcnImageBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                    %tbody.mcnImageBlockOuter
                      %tr
                        %td.mcnImageBlockInner{:style => "padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                          %table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td.mcnImageContent{:style => "padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;text-align: center;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                  %img.mcnImage{:align => "center", :alt => "", :src => "https://gallery.mailchimp.com/5fea6a6c0ca7b2464bc106e33/images/ed614e54-efb7-4421-8c5b-8ca44400d854.png", :style => "max-width: 600px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "564"}/
                  %table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;", :width => "100%"}
                    %tbody.mcnDividerBlockOuter
                      %tr
                        %td.mcnDividerBlockInner{:style => "min-width: 100%;padding: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                          %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EAEAEA;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                  %span
                          /
                            <td class="mcnDividerBlockInner" style="padding: 18px;">
                            <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
              %tr
                %td#templateBody{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;", :valign => "top"}
                  %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                    %tbody.mcnTextBlockOuter
                      %tr
                        %td.mcnTextBlockInner{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                          %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;", :valign => "top"}
                                  / <h1 style="display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;">Welcome</h1>
                                  %p{:style => "margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-weight: bold;font-size: 16px;line-height: 150%;text-align: left;"}
                                    Hi #{@user.firstname},
                                  %p{:style => "margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-weight: bold;font-size: 13px;line-height: 150%;text-align: left;"} Your account has been locked.
                                  %p{:style => "margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: left;"} This happened due to an excessive number of unsuccessful sign in attempts.
                                  %p{:style => "margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: left;"} Unlock your account by clicking on the link below.
                          %table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                            %tbody.mcnButtonBlockOuter
                              %tr
                                %td.mcnButtonBlockInner{:align => "center", :style => "padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                  %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate !important;border-radius: 3px;background-color: #2BAADF;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                    %tbody
                                      %tr
                                        %td.mcnButtonContent{:align => "center", :style => "font-family: Arial;font-size: 16px;padding: 15px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                                          = link_to 'Unlock My Account', unlock_url(@resource, unlock_token: @token),:style=>"font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;", :class=>"mcnButton"
                  / // CONTENT TABLE
                  %table.table.table-striped{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "width: 100% !important;"}
                    %tr
                      %td.textContent{:valign => "top"}
                        %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                          %tbody
                            %tr
                              %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #202020;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: left;", :valign => "top"}
                                %p{:style => "margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: left;"} Your VeriSolutions Team,
                                %a{:href => "mailto:support@verisolutions.co", :target => "_blank"} support@verisolutions.co
                                %br/
                                %br/
        %tr
      /[if gte mso 9]
        </td>
        <td align="center" valign="top" width="200" style="width:200px;">
      / CONTENT TABLE //
      /[if gte mso 9]
        </td>
        </tr>
        </table>
      %tr
        %td#templateFooter{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FAFAFA;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 9px;", :valign => "top"}
          %table.mcnFollowBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
            %tbody.mcnFollowBlockOuter
              %tr
                %td.mcnFollowBlockInner{:align => "center", :style => "padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                  %table.mcnFollowContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                    %tbody
                      %tr
                        %td{:align => "center", :style => "padding-left: 9px;padding-right: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                          %table.mcnFollowContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                            %tbody
                              %tr
                                %td{:align => "center", :style => "padding-top: 9px;padding-right: 9px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                    %tbody
                                      %tr
                                        %td{:align => "center", :style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                          /[if mso]
                                            <table align="center" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                          /[if mso]
                                            <td align="center" valign="top">
                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                            %tbody
                                              %tr
                                                %td.mcnFollowContentItemContainer{:style => "padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                  %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                                    %tbody
                                                      %tr
                                                        %td{:align => "left", :style => "padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => ""}
                                                            %tbody
                                                              %tr
                                                                %td.mcnFollowIconContent{:align => "center", :style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle", :width => "24"}
                                                                  %a{:href => "https://twitter.com/veri_temp", :style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :target => "_blank"}
                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", :style => "display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "24"}/
                                          /[if mso]
                                            </td>
                                          /[if mso]
                                            <td align="center" valign="top">
                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                            %tbody
                                              %tr
                                                %td.mcnFollowContentItemContainer{:style => "padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                  %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                                    %tbody
                                                      %tr
                                                        %td{:align => "left", :style => "padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => ""}
                                                            %tbody
                                                              %tr
                                                                %td.mcnFollowIconContent{:align => "center", :style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle", :width => "24"}
                                                                  %a{:href => "http://www.facebook.com/verisolutions", :style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :target => "_blank"}
                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png", :style => "display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "24"}/
                                          /[if mso]
                                            </td>
                                          /[if mso]
                                            <td align="center" valign="top">
                                          /[if mso]
                                            </td>
                                          /[if mso]
                                            </tr>
                                            </table>
          %table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;", :width => "100%"}
            %tbody.mcnDividerBlockOuter
              %tr
                %td.mcnDividerBlockInner{:style => "min-width: 100%;padding: 10px 18px 25px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                  %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                    %tbody
                      %tr
                        %td{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                          %span
                  /
                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                    <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
          %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
            %tbody.mcnTextBlockOuter
              %tr
                %td.mcnTextBlockInner{:style => "mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                  %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                    %tbody
                      %tr
                        %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #656565;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: center;", :valign => "top"}
                          %em Copyright © 2017 VeriSolutions, All rights reserved.
                          %br/
                          %br/
                          %br/
                          /
                            Want to change how you receive these emails?<br>
                            You can <a href="http://verisolutions.us12.list-manage.com/profile?u=5fea6a6c0ca7b2464bc106e33&id=9d35c07485&e=[UNIQID]" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #656565;font-weight: normal;text-decoration: underline;">update your preferences</a> or <a href="http://verisolutions.us12.list-manage.com/unsubscribe?u=5fea6a6c0ca7b2464bc106e33&id=9d35c07485&e=[UNIQID]&c=64d1dc6063" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #656565;font-weight: normal;text-decoration: underline;">unsubscribe from this list</a>
                            <br>
      /[if gte mso 9]
        </td>
        </tr>
        </table>
      / // END TEMPLATE
